ul {
    list-style; none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #dddddd;
    font-family: 
}

li {
    float: left;
    list-style-type: none;
}

li a {
    display:block;
    color: black;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color:#111;
    color: #999;
}

.active {
    background-color: #4CAF50;
}